.card-container {
    display: grid;
    border: none;
    justify-content: center;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 20px;
    margin: 25px auto;

}

.card {
    position: flex;
    border: none;
    margin-bottom: 35px;
    height: 100%;
    /* margin: 20px; */
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.card-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-image {
    border: 2px solid black;
    padding: none;
    height: 100%;
    width: 100%;
}

.card-price {
    margin: 0;
}

.stars {
    display: flex;
    align-items: center;
}

.tooltip {
    visibility: hidden; /* Initially hidden */
    position: relative;
    top: -55%; /* Adjust the vertical position */
    left: 50%;
    transform: translateX(-50%); /* Center it horizontally */
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    width: fit-content;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
}

.card:hover .tooltip {
    visibility: visible; /* Show the tooltip on card hover */
}

.card-link {
    text-decoration: none;
    color: black;

}
