.hidden {
    display: none;
}
.nav-bar {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.create-spot-button {
    color: black;
    margin-right: 0;
}

.nav-links2 {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px;
}


.profile-menu-2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
