.hidden {
    display: none;
}
.nav-bar {
    display: flex;
    margin:1% 5% 0 5%;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    border-bottom: 2px solid lightgray;
}
